<h2>New Item</h2>




<form method="POST" action="/new-item">
    <input type='text' name="lat" value="<%=position.coords.latitude%>" >
    <input type='text' name="long" value="<%=position.coords.longitude%>" >

    <button type="submit">submit new item</button>
</form>



<a href="/">Home</a>