<h2>Profile Page</h2>

<p> Hello, <%= currentUser.name %> !</p>

<a href="/">Home</a>

<form method="GET" action="/profile/show-all-items">
    <button type="submit" id="show-all-items-btn">show all items</button>
</form>
<form method="GET" action="/profile/show-user-items">
    <button type="submit" id="show-user-items-btn">show user items</button>
</form>

<%# from mapbox  %>
<div id='map' ></div>

<form method="POST" action="/profile" >
    <input hidden id='lat-center' type='text' name='lat' >
    <input hidden id='lng-center' type='text' name='lng' >
    <input hidden type='text' name='id' value='<%=currentUser.id%>'>
    <select name="hazard">
        <% hazards.forEach(function(hazard){ %>
            <option value="<%=hazard.id%>"><%=hazard.type%></option>
        <% }) %>
    </select> 
    <button type="submit">Submit new item!</button>
</form>

<script src="/js/app.js"></script>