<h2>Here's all the stuff you've cleaned up, <%= currentUser.name %>! Good job.</h2>

<a href="/profile">Back to profile</a>

<% items.forEach(function(item){ %>
            <div>
                <h3>Hazard Type: <%= item.hazard.type %></h3>
            
                <p> <%= item.lat %>, <%= item.lng %></p>
            </div>
<% }); %>