<h1>How to clean up this item: <%= hazard.type%></h1>

<p>Tools and recomendations below:</p>


<a href="https://www.whatcomcounty.us/2802/Needle-Clean-up-Kits" target="blank">Whatcom County Needle Clean Up Kits</a>